{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h3 align="center">Who We Serve</h3>
    <img class="img-fluid" src="../static/images/ai.jpg" alt="Whom We Serve">
    <blockquote class="blockquote text-justify">
        <p class="mb-0">
            Artificial intelligence (AI) algorithms, particularly deep learning, have demonstrated remarkable progress in image-recognition tasks. Covi-check assists radiologists and other healthcare professionals by automatically recognizing complex patterns in imaging data and providing quantitative, rather than qualitative, assessments of radiographic characteristics. This would eventually help to reduce emergency patient wait times while also successfully initiating the next operations.
        </p>
    </blockquote>
</div>
{% endblock %}