{% extends "base.html" %}

{% block content %}
    <h1 class="mb-3" align="center">Products & Services</h1>
    <article class="row single-post mt-5 no-gutters">
        <div class="col-md">
            <div class="col-sm-8 image-wrapper float-right pl-4">
                <img class="img-fluid" src="../static/images/P_S.jpg" alt="Product & Services">
            </div>
            <blockquote class="blockquote text-justify">
                <p class="mb-0">
                    Early detection of the new coronavirus is critical to preventing the virus from spreading to others. We have developed a system based on deep transfer learning that uses chest X-ray pictures from patients with COVID-19 and patients who do not have COVID-19 to detect the condition automatically. Our fine-tuned model performs well in the categorization of COVID-19 pneumonia after rapidly training via a relatively limited image collection.
                    <br>Our belief is that the suggested computer-aided diagnosis process might significantly enhance COVID-19 case diagnosis. The proposed classification model for identifying COVID-19 has a detection accuracy of greater than 70%. Due to its strong overall performance, we feel it is of nature to aid doctors and health professionals in making clinical judgments, according to our research findings.
                </p>
            </blockquote>
        </div>
    </article>
{% endblock %}